@charset "utf-8";

/*===============================================
	Html(Base Font)
================================================*/
html{/* 16px>10px */
	font-size: 62.5%;
}

/*===============================================
	For SmartPhone and All
===============================================*/
/*-----------------------------------------------
	Body
-----------------------------------------------*/
a:link,
a:visited{
	color: black;
	text-decoration: none;
}

body{
	margin: 10px 20px;
}
/*-----------------------------------------------
	Header
-----------------------------------------------*/
#menu{
	text-align: center;
}

.button{
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 2em;
	font-family: 'Parisienne', cursive;
	text-decoration: none;
}

.button:before,
.button:after{
	position: absolute;
	top: 1.3em;
	content: "";
	display: inline-block;
	width: 0;
	height: 2px; 
	background: #F30034;
	transition: 1s;
}

.button:before{
	left: 50%;
}

.button:after{
	right: 50%;
}

.button:hover:before,
.button:hover:after{
	width: 50%;
}

/*-----------------------------------------------
	Main
-----------------------------------------------*/
h1{
	font-family: 'Parisienne', cursive;
	color: #250d00;
	font-size: 4rem;
	margin:80px 15px 50px;
}

h2{
	font-size: 2rem;
/*	text-align: center; */
	margin:20px 15px 0;
}

.pagetop{
	position: fixed;
	bottom: 16px;
	right: 16px;
	font-size: 2rem;
}

.pagetop a{
	display: block;
	text-decoration: none;
	color: #c9171e;
}

.pagetop:hover{
	opacity: 0.85;
}

form{
	font-size:1.3rem;
	margin: 0 15 20px;
	padding: 5px 5px;
	display: block;
	width: 90%;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

ul {
  list-style: none;
}

#toiawase{
	margin: 2px 0;
}

/*-----------------------------------------------
	Footer
-----------------------------------------------*/
footer{
	margin:200px auto 10px;
	text-align: center;
}

/*===============================================
	For Tablet
===============================================*/
@media screen and (min-width: 600px){
	#toiawase{
		margin: 2px 3em;
	}
}

/*===============================================
	For PC
===============================================*/
@media screen and (min-width: 960px){
	#toiawase{
		margin: 2px 3em;
	}
}
